=content_for :scripts do
  #subscriptions
    - @conversations.each do |conversation|
      = subscribe_to "/conversations/#{conversation.id}/messages"

=content_for :sidebar do
  #userlist.pane
    %p.heading Team
    %ul.unstyled
      -@users.each do |user|
        - next if user == current_user
        %li
          =link_to user.name, start_conversation_path(user.id), remote: true
  .pane
    %p.heading You
    - if current_user
      %h4= current_user.name
      =link_to "Profile", "#", class: "btn btn-success"
      =link_to "Logout", destroy_user_session_path, class: "btn btn-info", method: :delete

.row-fluid
  .span6
  .span6
    .row-fluid#conversations
      = render @conversations
