.navbar
  .navbar-inner
    %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a#logo{href: "/"} 
      =image_tag "logo.png"
      