@import "mixins";

.btn{
  @include no_box_shadow;
  @include override_gradient_vertical;
  @include no_border;
  @include border_radius(0px);
}

input, textarea{
  @include no_box_shadow;
  @include border_radius(0px);
}

body{

  background: #F7F4DF;

  .navbar{

    .navbar-inner{
      @include no_box_shadow;
      @include no_border;
      background: none;
    }
    #logo{
      img{
        padding: 1em 1em;
      }
    }
  }

  #landing{
    margin-top: 170px;
    #why{
      margin-top: 300px;
      p{
        font-size: 14px;
        line-height: 24px;
      }

    }
  }
  #main{

    .pane{
      background: white;
      border:1px solid #CCC;
      padding: 10px;
      margin-bottom: 15px;
      p.heading{
        border-bottom: 1px solid #EEE;
        padding: 5px 0px;
      }
    }

    #userlist{
      height: 400px;
    }

    #conversations{

      .conversation{
        .messages{
          height: 150px;
          overflow: auto;
        }
      }
    }

    #tasks
    {
      .task{
        position: relative;

        .post_time_of_task
        {
          display: inline;
        }

        i{
          position: absolute;
          top:5px;
          right: 8px;
        }
      }
    }
  }
}
