body{
  font-family: 'Open Sans', sans-serif;
}
.btn{
  text-shadow: 0px 0px #FFF;
}

#logo{
  text-decoration: none;
  p{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
}

#landing{
  h4{
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }
  #why{
    p{
      color: #555;
    }
  }
}

.pane{
  p.heading{
    color: #CCC;
    font-size: 16px;
    font-weight: bold;

    a{
      color: #CCC;
      text-decoration: none;
    }
  }
  em.timestamp{
    color: #CCC;
    font-size: 9px;
  }
}